# Managed by Salt
Server={{ salt['pillar.get']('zabbix_agent:Server', '127.0.0.1') }}
ServerActive={{ salt['pillar.get']('zabbix_agent:ServerActive', '127.0.0.1') }}
HostnameItem=system.hostname
{% set os_info = salt['grains.get']('os') + (salt['grains.get']('osmajorrelease') | string ) %}
{% set saltenv = salt['grains.get']('saltenv', 'undefined') %}
{% set purpose = salt['pillar.get']('zabbix_agent:purpose', '') %}
{% set hostmetadata = salt['pillar.get']('Secret', 'default_secret') + os_info + saltenv + (purpose if purpose else '') %}
HostMetadata={{ hostmetadata }}

# Defaults
AllowKey={{ salt['pillar.get']('zabbix_agent:AllowKey', 'system.run[*]') }}
ControlSocket={{ salt['pillar.get']('zabbix_agent:ControlSocket', '/tmp/agent.sock') }}
ListenPort={{ salt['pillar.get']('zabbix_agent:ListenPort', 10050) }}
LogFile={{ salt['pillar.get']('zabbix_agent:LogFile', '/var/log/zabbix/zabbix_agent2.log') }}
LogFileSize={{ salt['pillar.get']('zabbix_agent:LogFileSize', 1024) }}
PidFile={{ salt['pillar.get']('zabbix_agent:PidFile', '/var/run/zabbix/zabbix_agent2.pid') }}
Timeout={{ salt['pillar.get']('zabbix_agent:Timeout', 30) }}

# Include directives
{% for include_path in salt['pillar.get']('zabbix_agent:Include', []) %}
Include={{ include_path }}
{% endfor %}
